<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SiliconValleyCompanies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B85168791CF7CAB70030A859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B851688D1CF7CAB70030A859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B85168981CF7CAB80030A859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
